.Tasks-list {
    padding: 0.5rem;
    background: #282c34;
    border-radius: 15px;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.5rem;
}

.Tasks-list-header {
    background: #282c34;
    border-radius: 10px 10px 0 0;
}

.Tasks-list-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    color: white;
}

.Tasks-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 0.5rem;
}

.Task {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 8px;
    cursor: pointer;
    text-align: start;
    font-size: 1.2rem;
    font-weight: 700;
}

.Done {
    text-decoration: line-through;
}

.Status-container {
    display: flex;
}

.Status-selector {
    font-size: 0.75rem;
    margin-left: auto;
    border: none;
}

.Delete-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.Modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Task-title-container {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: 700;
}

.Title-input {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    width: 100%;
    padding: 0;
}

.Description-input {
    margin: 0;
    padding: 0;
}