.Tasks-list {
    padding: 0.5rem;
    background: #282c34;
    border-radius: 15px;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.5rem;
}

.Tasks-list-header {
    background: #282c34;
    border-radius: 10px 10px 0 0;
}

.Tasks-list-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    color: white;
}

.Tasks-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 0.5rem;
}

.Even {
    background-color: white !important;
}

.Odd {
    background-color: lightgray !important;
}
